In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

### 2014-2015 NBA season shot logs: https://www.kaggle.com/dansbecker/nba-shot-logs
### 2014-2015 NBA season player stats: https://www.kaggle.com/drgilermo/nba-players-stats-20142015
#### Players' missing height and weight fields were manually entered with data found on https://www.basketball-reference.com/

In [271]:
"""
    load the data
"""
players_stats = pd.read_csv("players_stats.csv")
shot_logs = pd.read_csv("shot_logs.csv")

In [314]:
players_stats

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
0,AJ PRICE,26,12.5,5.1,51,137,37.2,15,57,26.3,...,29.0,us,7-Oct-86,University of Connecticut,5,185.0,PG,PHO,81.45,23.798393
1,AARON BROOKS,82,23.0,11.6,344,817,42.1,121,313,38.7,...,30.0,us,14-Jan-85,University of Oregon,6,180.0,PG,CHI,72.45,22.361111
2,AARON GORDON,47,17.0,5.2,93,208,44.7,13,48,27.1,...,20.0,us,16-Sep-95,University of Arizona,R,202.5,PF,ORL,99.00,24.142661
3,ADREIAN PAYNE,32,23.1,6.7,91,220,41.4,1,9,11.1,...,24.0,us,19-Feb-91,Michigan State University,R,205.0,PF,ATL,106.65,25.377751
4,AL HORFORD,76,30.5,15.2,519,965,53.8,11,36,30.6,...,29.0,do,3-Jun-86,University of Florida,7,205.0,C,ATL,110.25,26.234384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,XAVIER HENRY,9,9.6,2.2,3,13,23.1,0,0,0.0,...,24.0,be,15-Mar-91,University of Kansas,4,195.0,SF,LAL,99.00,26.035503
486,ZACH LAVINE,77,24.7,10.1,286,677,42.2,57,167,34.1,...,20.0,us,10-Mar-95,"University of California, Los Angeles",R,192.5,PG,MIN,85.05,22.951594
487,ZACH RANDOLPH,71,32.5,16.1,454,932,48.7,7,20,35.0,...,34.0,us,16-Jul-81,Michigan State University,13,202.5,PF,MEM,117.00,28.532236
488,ZAZA PACHULIA,73,23.7,8.3,240,529,45.4,0,3,0.0,...,31.0,ge,10-Feb-84,NaN,11,207.5,C,MIL,121.50,28.218900
489,ZORAN DRAGIC,16,4.7,1.8,11,30,36.7,3,14,21.4,...,26.0,si,22-Jun-89,NaN,R,192.5,SG,PHO,90.00,24.287401

In [273]:
shot_logs

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128064,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,5,3,1:52,18.3,5,...,8.7,2,missed,"Smart, Marcus",203935,0.8,0,0,jarrett jack,101127
128065,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,6,4,11:28,19.8,4,...,0.6,2,made,"Turner, Evan",202323,0.6,1,2,jarrett jack,101127
128066,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,7,4,11:10,23.0,2,...,16.9,2,made,"Thornton, Marcus",201977,4.2,1,2,jarrett jack,101127
128067,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,8,4,2:37,9.1,4,...,18.3,2,missed,"Bradley, Avery",202340,3.0,0,0,jarrett jack,101127
128068,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,9,4,0:12,NaN,5,...,5.1,2,made,"Bradley, Avery",202340,2.3,1,2,jarrett jack,101127

In [13]:
players_stats.columns.values

array(['Name', 'Games Played', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%', '3PM',
       '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'EFF', 'AST/TOV', 'STL/TOV', 'Age',
       'Birth_Place', 'Birthdate', 'Collage', 'Experience', 'Height',
       'Pos', 'Team', 'Weight', 'BMI'], dtype=object)

In [274]:
"""
    Convert the stats from totals to per game (round to one decimal place)
"""
per_game_stats = ['MIN','PTS','OREB','DREB','REB','AST','STL','BLK','TOV','PF','EFF']
players_stats[per_game_stats] = players_stats[per_game_stats].div(players_stats['Games Played'], axis=0)
players_stats[per_game_stats] = np.around(players_stats[per_game_stats], decimals=1)

In [49]:
shot_logs.columns.values

array(['GAME_ID', 'MATCHUP', 'LOCATION', 'W', 'FINAL_MARGIN',
       'SHOT_NUMBER', 'PERIOD', 'GAME_CLOCK', 'SHOT_CLOCK', 'DRIBBLES',
       'TOUCH_TIME', 'SHOT_DIST', 'PTS_TYPE', 'SHOT_RESULT',
       'CLOSEST_DEFENDER', 'CLOSEST_DEFENDER_PLAYER_ID', 'CLOSE_DEF_DIST',
       'FGM', 'PTS', 'player_name', 'player_id'], dtype=object)

In [51]:
shot_logs['player_name'].value_counts()

james harden         1054
mnta ellis           1052
lamarcus aldridge    1050
damian lillard        986
lebron james          978
                     ...
mike miller            94
alan crabbe            94
joey dorsey            93
jerome jordan          88
greg smith             47
Name: player_name, Length: 281, dtype: int64

In [52]:
shot_logs['CLOSEST_DEFENDER'].value_counts()

Ibaka, Serge           814
Jordan, DeAndre        795
Gasol, Pau             754
Green, Draymond        751
Millsap, Paul          750
                      ...
Raduljica, Miroslav      1
Ledo, Ricky              1
Moreland, Eric           1
Lucas, Kalin             1
Murry, Toure             1
Name: CLOSEST_DEFENDER, Length: 473, dtype: int64

#### Transform all names to the same format

In [275]:
player_names = shot_logs['CLOSEST_DEFENDER'].str.split(pat=", ", expand=True)
player_names['Name'] = player_names[1] + " " + player_names[0]
shot_logs['CLOSEST_DEFENDER'] = player_names['Name']

In [278]:
shot_logs['player_name'] = shot_logs['player_name'].str.upper()
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].str.upper()
players_stats['Name'] = players_stats['Name'].str.upper()

#### Fix names that are spelled incorrectly or differently

In [ ]:
""" 
    Match height to each player in the shot log
"""
shot_logs['player_height'] = shot_logs['player_name'].apply(lambda x: players_stats.Height[players_stats['Name'] == x].values[0] 
                                                            if len(players_stats.Height[players_stats['Name'] == x].values) > 0 else 0)

In [147]:
"""
    Find names that don't have a matching height
"""
missing_names = shot_logs['player_name'][shot_logs['player_height']==0].value_counts()
missing_names.index

Index(['MNTA ELLIS', 'DIRK NOWTIZSKI', 'DWAYNE WADE', 'TIME HARDAWAY JR',
       'OJ MAYO', 'DJ AUGUSTIN', 'NENE HILARIO', 'NERLES NOEL',
       'JOSE JUAN BAREA', 'BENO URDIH', 'DANILO GALLINAI', 'AMARE STOUDEMIRE',
       'CJ WATSON', 'OTTO PORTER', 'STEVE ADAMS', 'AL FAROUQ AMINU',
       'JON INGLES', 'KYLE OQUINN', 'JAMES ENNIS', 'JIMMER DREDETTE',
       'ALAN CRABBE'],
      dtype='object')

In [279]:
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'DWYANE WADE' if x == 'DWAYNE WADE' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'MONTA ELLIS' if x == 'MNTA ELLIS' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'DIRK NOWITZKI' if x == 'DIRK NOWTIZSKI' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'TIM HARDAWAY JR.' if x == 'TIME HARDAWAY JR' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'O.J. MAYO' if x == 'OJ MAYO' else x)
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'D.J. AUGUSTIN' if x == 'DJ AUGUSTIN' else x)
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'NENE' if x == 'NENE HILARIO' else x)
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'NERLENS NOEL' if x == 'NERLES NOEL' else x)
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'J.J. BAREA' if x == 'JOSE JUAN BAREA' else x)
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'BENO UDRIH' if x == 'BENO URDIH' else x)

In [280]:
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'DANILO GALLINARI' if x == 'DANILO GALLINAI' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'AMAR\'E STOUDEMIRE' if x == 'AMARE STOUDEMIRE' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'C.J. WATSON' if x == 'CJ WATSON' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'OTTO PORTER JR.' if x == 'OTTO PORTER' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'STEVEN ADAMS' if x == 'STEVE ADAMS' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'AL-FAROUQ AMINU' if x == 'AL FAROUQ AMINU' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'JOE INGLES' if x == 'JON INGLES' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'KYLE O\'QUINN' if x == 'KYLE OQUINN' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'JAMES ENNIS III' if x == 'JAMES ENNIS' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'JIMMER FREDETTE' if x == 'JIMMER DREDETTE' else x) 
shot_logs.player_name = shot_logs.player_name.apply(lambda x: 'ALLEN CRABBE' if x == 'ALAN CRABBE' else x)

In [281]:
shot_logs['player_height'] = shot_logs['player_name'].apply(lambda x: players_stats.Height[players_stats['Name'] == x].values[0] 
                                                            if len(players_stats.Height[players_stats['Name'] == x].values) > 0 else 0)

In [233]:
shot_logs['player_name'][shot_logs['player_height']==0].value_counts()

Series([], Name: player_name, dtype: int64)

In [282]:
""" 
    Do the same for defenders
"""
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'DWYANE WADE' if x == 'DWAYNE WADE' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'MONTA ELLIS' if x == 'MNTA ELLIS' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'DIRK NOWITZKI' if x == 'DIRK NOWTIZSKI' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'TIM HARDAWAY JR.' if x == 'TIME HARDAWAY JR' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'O.J. MAYO' if x == 'OJ MAYO' else x)
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'D.J. AUGUSTIN' if x == 'DJ AUGUSTIN' else x)
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'NENE' if x == 'NENE HILARIO' else x)
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'NERLENS NOEL' if x == 'NERLES NOEL' else x)
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'J.J. BAREA' if x == 'JOSE JUAN BAREA' else x)
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'BENO UDRIH' if x == 'BENO URDIH' else x)
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'DANILO GALLINARI' if x == 'DANILO GALLINAI' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'AMAR\'E STOUDEMIRE' if x == 'AMARE STOUDEMIRE' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'C.J. WATSON' if x == 'CJ WATSON' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'OTTO PORTER JR.' if x == 'OTTO PORTER' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'STEVEN ADAMS' if x == 'STEVE ADAMS' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'AL-FAROUQ AMINU' if x == 'AL FAROUQ AMINU' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'JOE INGLES' if x == 'JON INGLES' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'KYLE O\'QUINN' if x == 'KYLE OQUINN' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'JAMES ENNIS III' if x == 'JAMES ENNIS' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'JIMMER FREDETTE' if x == 'JIMMER DREDETTE' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'ALLEN CRABBE' if x == 'ALAN CRABBE' else x)

In [176]:
shot_logs['defender_height'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: players_stats.Height[players_stats['Name'] == x].values[0] 
                                                            if len(players_stats.Height[players_stats['Name'] == x].values) > 0 else 0)

In [177]:
shot_logs['CLOSEST_DEFENDER'][shot_logs['defender_height']==0].value_counts()

J.R. SMITH          335
OTTO PORTER         241
PERRY JONES         170
JOHNNY O'BRYANT      89
A.J. PRICE           69
CHARLES HAYES        64
LARRY DREW           50
GLENN ROBINSON       29
JEFF TAYLOR          24
ATILA DOS SANTOS     12
GLEN RICE JR.         8
ERIC MORELAND         1
TOURE MURRY           1
Name: CLOSEST_DEFENDER, dtype: int64

In [283]:
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'JR SMITH' if x == 'J.R. SMITH' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'PERRY JONES III' if x == 'PERRY JONES' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'JOHNNY O\'BRYANT III' if x == 'JOHNNY O\'BRYANT' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'AJ PRICE' if x == 'A.J. PRICE' else x) 
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'CHUCK HAYES' if x == 'CHARLES HAYES' else x)
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'LARRY DREW II' if x == 'LARRY DREW' else x)
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'GLENN ROBINSON III' if x == 'GLENN ROBINSON' else x)
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'JEFFERY TAYLOR' if x == 'JEFF TAYLOR' else x)
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'GLEN RICE' if x == 'GLEN RICE JR.' else x)
shot_logs['CLOSEST_DEFENDER'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: 'TOURE\' MURRY' if x == 'TOURE MURRY' else x)

In [284]:
shot_logs['defender_height'] = shot_logs['CLOSEST_DEFENDER'].apply(lambda x: players_stats.Height[players_stats['Name'] == x].values[0] 
                                                            if len(players_stats.Height[players_stats['Name'] == x].values) > 0 else 0)

In [285]:
shot_logs['CLOSEST_DEFENDER'][shot_logs['defender_height']==0].value_counts()

ATILA DOS SANTOS    12
ERIC MORELAND        1
Name: CLOSEST_DEFENDER, dtype: int64

In [286]:
"""Remove unrecorded players"""
shot_logs = shot_logs[shot_logs['defender_height'] > 0]

#### Merge relevant data from the two dataframes

In [287]:
"""Selected Features"""
offensive_stats = ['Name','PTS','FG%','3P%','FT%','AST','Weight']
defensive_stats = ['Name','OREB','DREB','STL','BLK','Weight']

In [288]:
shot_logs = pd.merge(shot_logs, players_stats[offensive_stats], left_on='player_name',right_on='Name')

In [289]:
shot_logs = pd.merge(shot_logs, players_stats[defensive_stats], left_on='CLOSEST_DEFENDER',right_on='Name')

In [290]:
shot_logs.columns.values

array(['GAME_ID', 'MATCHUP', 'LOCATION', 'W', 'FINAL_MARGIN',
       'SHOT_NUMBER', 'PERIOD', 'GAME_CLOCK', 'SHOT_CLOCK', 'DRIBBLES',
       'TOUCH_TIME', 'SHOT_DIST', 'PTS_TYPE', 'SHOT_RESULT',
       'CLOSEST_DEFENDER', 'CLOSEST_DEFENDER_PLAYER_ID', 'CLOSE_DEF_DIST',
       'FGM', 'PTS_x', 'player_name', 'player_id', 'player_height',
       'defender_height', 'Name_x', 'PTS_y', 'FG%', '3P%', 'FT%', 'AST',
       'Weight_x', 'Name_y', 'OREB', 'DREB', 'STL', 'BLK', 'Weight_y'],
      dtype=object)

#### Clean up the data

In [292]:
"""Rename the columns"""
shot_logs = shot_logs.rename(columns={"PTS_x": "PTS", "PTS_y": "player_PTS", "FG%": "player_FG%", "3P%": "player_3P%", 
                         "FT%": "player_FT%", "AST": "player_AST", "Weight_x": "player_weight", 
                          "OREB": "defender_OREB", "DREB": "defender_DREB", "STL": "defender_STL",
                         "BLK": "defender_BLK", "Weight_y": "defender_weight"})
shot_logs = shot_logs.rename(str.upper, axis="columns")

In [293]:
shot_logs.columns.values

array(['GAME_ID', 'MATCHUP', 'LOCATION', 'W', 'FINAL_MARGIN',
       'SHOT_NUMBER', 'PERIOD', 'GAME_CLOCK', 'SHOT_CLOCK', 'DRIBBLES',
       'TOUCH_TIME', 'SHOT_DIST', 'PTS_TYPE', 'SHOT_RESULT',
       'CLOSEST_DEFENDER', 'CLOSEST_DEFENDER_PLAYER_ID', 'CLOSE_DEF_DIST',
       'FGM', 'PTS', 'PLAYER_NAME', 'PLAYER_ID', 'PLAYER_HEIGHT',
       'DEFENDER_HEIGHT', 'NAME_X', 'PLAYER_PTS', 'PLAYER_FG%',
       'PLAYER_3P%', 'PLAYER_FT%', 'PLAYER_AST', 'PLAYER_WEIGHT',
       'NAME_Y', 'DEFENDER_OREB', 'DEFENDER_DREB', 'DEFENDER_STL',
       'DEFENDER_BLK', 'DEFENDER_WEIGHT'], dtype=object)

In [296]:
"""Remove duplicate columns"""
shot_logs = shot_logs.drop(columns = ['NAME_X','NAME_Y'])

In [305]:
"""Remove NaN from SHOT_CLOCK"""
shot_logs = shot_logs[shot_logs['SHOT_CLOCK'].notna()]

In [311]:
"""Remove negative touch time"""
shot_logs = shot_logs[shot_logs['TOUCH_TIME'] > 0]

#### Export data

In [313]:
shot_logs.to_csv("data.csv", index=False)